<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="changeMoney" method="get">
    <p>发起向用户转账</p>
    <table>
        <tr>
            <td>用户名:</td>
            <td>
                <input name="name" type="text">
            </td>
        </tr>
        <tr>
            <td>转账金额:</td>
            <td>
                <input name="money" type="text">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="转账">
            </td>
        </tr>
    </table>
</form>
</body>
</html>