<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="login" method="post">
        <table>
            <tr>
                <td>用户名:</td>
                <td>
                    <input name="name" type="text">
                </td>
            </tr>
            <tr>
                <td>密 码:</td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="登录">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>